#parag{
      
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;


}

#divtext{
    width: 100px;
    background-color: rgb(0, 0, 0);
    font-style: italic;
    color: gold;
    width: 150px;
    height: 150px;
    margin: 100px;
    margin-top: 100px;
    border: 10px solid red;
    padding: 10px;
    padding-right: 80px;
    position: fixed;
    


}

#divrela{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    height: 400px;
    margin: 30px;
    border: 10px solid blue;
    
}

#divstatic{

    width: 300px;
    margin: 10px;
    border: 1px solid #ff0303;
    padding: 20px;
    display: none;
}

#meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  